<% provide(:title, @user.first_name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.first_name %>
        <%= @user.last_name %> 
      </h1>
    </section>
  </aside>
</div>

		<div class="right">
		  
<h4>Student Name:</h4><p>Judith Ehiguese</p> 
<h4>Student Number:</h4><p>2862968</p> 

<h4>Proffesional Summary </h4>
<p>I am currently in 4th year of BSc Honor’s Degree in Computing Science, seeking experience. 
I am passionate about Customer service, Web Design and Development, Math algorithms, 
Data Analyzation, Design and Gaming. I am very flexible and punctual with strong communicational 
and organizational skills.</p>

<h4>Programming Skills</h4>
<p>
➢ Prominent with relational database management systems such as MySQL <br>
➢ Knowledge in Microsoft Word, Eclipse, IntelliJ, JCreator and Notepad++ <br>
➢ Java, PHP, Scala, HTML, CSS, JQuery, JavaScript and assembly language</p>

<h4>Subjects I study</h4>
<p>
➢ Advanced Network Theory <br>
➢ Concurrent Programming <br>
➢ Cloud Services and Platforms<br>
➢ Distributed Systems <br>
➢ Emerging Technology<br>
➢ Managing Big Data<br>
➢ Web Frameworks</p>

<h4>Interests and Hobbies</h4>
<p>
➢ Technology, Sports, Travel, Art, Music </p>

<h4>Contact Information</h4>
<p>Email: judye94@outlook.com<br>
Mobile Number: 0894870610</p>

</div>
