<footer class="footer">
  <small>
      <p>
    The Ruby on Rails App
    by Judith Ehiguese</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>